.Modal {
    
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.close{
    
    float: right;
    outline: 0;
    cursor: pointer;
    border: none;
    width: 45px;
    text-align: center;
    height: 45px;
    line-height: 45px;
    color: #f30000;
    background-color: white;
    font-weight: 600;
    font-size: 24px;
    box-shadow: 0 4px 10px 0 rgba(255, 0, 0, 0.2);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
    
}
.close:hover{
    font-weight: 600;
    font-size: 26px;
    color: #ff4400;
    background-color: rgb(255, 205, 205);
    box-shadow: 0 4px 10px 0 rgba(116, 0, 0, 0.3);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}
@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}