.search-form1{ 
    display: block;
    width: 50%;
    border-radius: 10px;
    background-color: rgb(0,0,0,0.3);
    transition: width 0.3s ease;
    border : 1px solid white;
}


.search-form2 {
  display: flex;
  align-items: center;
  
  
}

.input {
  margin-left: 10px;
  margin-right: 20px;
  width: 92%;
  height:5vh;
  cursor: pointer;
  background: transparent;
  color: whitesmoke;
  font-size: 2rem;
   /* Adjust the margin as needed */
}

.submit-btn {
  background-color: transparent;
  border: none;
  position: relative;
  float: right;
  margin: 1rem;
  cursor: pointer;
}
@media screen and (min-width : 650px) {
  .search-form1{ 
    width: 40%;
    border-radius: 15px;
    transition: width 0.3s ease;
    
}
.search-form1:hover{
  cursor: pointer;
  
  background-color: rgba(0, 0, 0, 0.5);
  
}
.input {
  
  font-size: 2.5rem;
   /* Adjust the margin as needed */
}


}