.booklist, .book-details{
    padding: 3rem 0;
    background-color: #f8f9fa;
}
.booklist-content{
    gap: 3rem;
}
.book-item{
    display: flex;
    align-items: center;
    
    text-align: center;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(15px);
    box-shadow: rgba(0, 0, 0, 0.2) 1px 5px 15px 1px;
    transition: var(--transition);
}
.book-item:hover{
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.4) 2px 10px 30px 2px;
}
.book-item-img img{
    width: 280px;
    height: 440px;
    min-width: 280px;
    margin-right: auto;
    margin-left: auto;
}
.newDiv{
    align-items: center;
    justify-content: baseline;
    width: 100%;
    height: 100%;
    display: flex;
}.book-item-info { 
    display: flex; /* Change to flex */
    flex-direction: column; /* Set flex direction to column */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1rem; /* Added padding for better readability */
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px); /* Adding blur effect */
}

.addBtn {
    cursor: pointer;
    text-align: center;
    height: 44px;
    color: #211936;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
    font-size: 24px;
    box-shadow: 0 4px 10px 0 rgba(68, 0, 255, 0.3);
    transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
    width: 44px;
    padding: 4px;
    display: block;
    margin-top: auto; /* Move the button to the bottom of the parent */
}



.addBtn:hover{
    font-weight: 600;
    border-radius: 7px;
    color: #701ce6;
    
    box-shadow: 0 4px 10px 0 rgba(50, 0, 213, 0.3);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}
.book-item-info-item.title{
    line-height: 1.4;
    margin-bottom: 0.8rem;
}
.book-item-info-item.author{
    line-height: 1.4;
    margin-bottom: 4px;
}
.book-item-info-item:not(.book-item-info-item.title) span:last-child{
    opacity: 0.8;
}
.book-item-info-item.publish-year{
    opacity: 0.6;
    font-style: italic;
    font-size: 14px;
}

@media screen and (min-width: 600px){
    .booklist-content{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px){
    .booklist-content{
        grid-template-columns: repeat(3, 1fr);
    }
    .book-item-img img{
        max-width: 150px;
    }
}

@media screen and (min-width: 992px){
    .booklist-content{
        grid-template-columns: repeat(4, 1fr);
    }
    .book-item-img img{
        max-width: 120px;
    }
}