.holder{
    width: 100%;
    height: 80vh;
}
.header{
    width: 100%;
    height: 75vh;
}
.header-content{
    min-height: 75vh;
    height: 75vh;
    background: linear-gradient(rgba(2, 27, 82,0.7), rgba(5, 0, 48, 0.7)), url("../../images/library-img.jpg") center/cover no-repeat;
    flex-direction: column;
}
.header-title{
    top:1%;
    font-size: 2rem;
    padding: 1rem;
}
.header-text{
    margin-top: -1.8rem;
    margin-bottom: 3rem;
    opacity: 0.9;
    max-width: 300px;
    
}
@media screen and (min-width: 650px){
    .header-content{
        min-height: 75vh;
        background: linear-gradient(rgba(0, 21, 64, 0.753), rgba(14, 0, 28, 0.801)), url("../../images/library-img.jpg") center/cover no-repeat;
        flex-direction: column;

    }
    .header-title{
        font-size: 4.2rem;
    }
    .header-text{
        display: block;
        margin-top: -1.8rem;
        margin-bottom: 2.8rem;
        opacity: 0.9;
        max-width: 770px;
    }
}