span{
    color: #261066;
}
.logo{
    width: 70%;
    height: 70%;
    
}
.navHorItem{
    
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.navbar{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.navbar-brand{
    width: 90px;
}
.navbar-brand span{
    margin-left: 2rem;
}
.brand-and-toggler{
    width: 100%;
}
.navbar-content{
    display: flex;

    width: 100%;
}
.navbar-toggler-btn{
    transition: var(--transition);
    z-index: 11;
   
    
}
.navbar-collapse{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    border-left: 2px solid #261066;
    background-color: rgba(75, 72, 149, 0.9);
    height: 100%;
    width: 180px;
    display: flex;
    justify-content: center;
    padding: 8rem 2rem 0 2rem;
    transform: translatex(100%);
    transition: var(--transition);
}
.show-navbar-collapse{
    transform: translateX(0);
}

.navItem{
    border: 1px solid grey;
    height: 25px;
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navItem:hover{
    cursor: pointer;
    border : 1px solid blueviolet;
}
.nav-link{
    transition: var(--transition);
}
.nav-link:hover{
    color: var(--purple-color);
}

@media screen and (min-width: 650px){
   
    .navbar-collapse{
        position: relative;
        height: auto;
        padding: 0;
        border:none;
        width: 100%;
        background-color: transparent;
        transform: translateX(0);
        justify-content: flex-end;
    }
    .navbar-toggler-btn{
        display: none;
    }
    .nav-item{
        margin-bottom: 0;
        margin-left: 2.8rem;
    }
    .nav-link{
        color: var(--black-color);
        font-size: 1.7rem;
        font-weight: 500!important;
        opacity: 0.8;
    }
    .navbar-nav{
        display: flex;
    }
}