.footer {
    
    
    background-color: #f8f9fa;
    padding: 20px 0;
    color:#888;
    height: 150px;
    text-align: center;
  }
  
  .section_text_p1 {
    margin: 4pxs;
    font-size: 20px;
    color: #444;
  }
  
  .contact-info-upper-container {
    width: 800px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
    
  }
  
  .contact-info-container {
    margin: 0 10px;
   
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    width: 3rem;
    align-items: center;
    margin : 0px auto;
    justify-content: center;
  }
  
 
 
  